<main>
  <section id="hero">
    <div class="container">
      <div class="row">
        <div class="col">
          <h1>El mejor curso de inglés para ti está aquí</h1>
          <p>
            Reserva una de nuestras clases y mejora tu expresión oral sin
            dificultad. Adaptadas a tus necesidades y a tus condiciones.
          </p>
          <!-- Botón acceso a reservas - Js necesario -->
          <button
            onclick="window.location='./reservas.html'"
            type="button"
            class="btn btn-dark btn-lg"
          >
            Reserva ya
          </button>
        </div>
        <div class="col">
          <img
            src="../../../../assets/hero.jpg"
            alt="Formacion de idiomas - clase"
          />
        </div>
      </div>
      <br />
      <!-- articulos -->
      <div class="row cards">
        <div class="col-md-4 d-flex justify-content-center">
          <div class="card">
            <div class="card-body">
              <!-- font-awesome icon -->
              <i class="fas fa-phone fa-3x ip icon"></i>
              <h5 class="card-title">Clases telefónicas</h5>
              <p class="card-text">
                Descubre más acerca de nuestras clases telefónicas. Próximamente
                disponibles.
              </p>
            </div>
          </div>
        </div>
        <div class="col-md-4 d-flex justify-content-center">
          <div class="card">
            <div class="card-body">
              <!-- font-awesome icon -->
              <i class="fas fa-book-open fa-3x icon"></i>
              <h5 class="card-title">Examenes</h5>
              <p class="card-text">
                Descubre más acerca de nuestras clases de preparación a exámenes
                oficiales. Próximamente disponibles.
              </p>
            </div>
          </div>
        </div>
        <div class="col-md-4 d-flex justify-content-center">
          <div class="card">
            <div class="card-body">
              <!-- font-awesome icon -->
              <i class="fas fa-regular fa-globe fa-3x ip icon"></i>
              <h5 class="card-title">Online</h5>
              <p class="card-text">
                Adéntrate en nuestra plataforma online y comprueba lo fácil que
                es aprender.
              </p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
</main>
