<header>
  <!-- Navbar -->
  <!-- clase de nav; properties bootstrap template y propias -->
  <nav
    class="py-3 navbar navbar-expand-lg form-floating navbar-light navbar-color"
  >
    <div class="container">
      <a class="navbar-brand" href="#">Formación de idiomas</a>
      <!-- botón collapse menú nav -->
      <button
        class="navbar-toggler"
        type="button"
        data-bs-toggle="collapse"
        data-bs-target="#navbarSupportedContent"
        aria-controls="navbarSupportedContent"
        aria-expanded="false"
        aria-label="Toggle navigation"
      >
        <span class="navbar-toggler-icon"></span>
      </button>
      <!-- listado de enlaces -->
      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav ms-auto">
          <li class="nav-item">
            <a class="nav-link active" aria-current="page" href="#">Home</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#">Orales</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#">Sobre nosotros</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#">Contacto</a>
          </li>
        </ul>
      </div>
    </div>
  </nav>
  <!-- Fin Navbar -->
</header>
